#page { font-size: 62.5%; width: 100vw; height: auto; margin: 0 auto; background-color: var(--White); } 


 
/* ------------------------------------메인 배너 슬라이드 영역 */

/* 배너 위에 검은색 그라디언트 오버레이 */
.banner-slider::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 40vh; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); /* 위에서 아래로 점점 사라지는 효과 */
 z-index: 1; /* 배너 위로 올라오도록 설정 */ } 
.banner-slider { cursor: pointer; width: 100%; height: 50vh; position: relative; overflow: hidden; } 
.banner-slider img { width: 100%; height: 50vh; object-fit: cover; } 
.banner-right { display: none; } 
/* --- 화살표 & 숫자를 감싼 컨테이너 --- */
.slider-controls { display: flex; align-items: center; justify-content: center; gap: 20px; margin-top: 20px; margin-bottom: 8rem; } 

/* --- 화살표 버튼 스타일 --- */
.custom-prev,
.custom-next { position: absolute; top: 50%; transform: translateY(-50%); z-index: 10; transform: scale(3); opacity: 35%; background: none; border: none; cursor: pointer; transition: opacity 0.3s ease; } 
.custom-prev { left: 30px; } 
.custom-next { right: 30px; } 
.custom-prev:hover,
.custom-next:hover { opacity: 0.8; } 


.custom-prev, .custom-next { background: none; border: none; cursor: pointer; width: 7px; /* 화살표 크기 */
 height: 15px; display: flex; align-items: center; justify-content: center; } 
.custom-prev img, .custom-next img { width: 100%; max-width: 7px; height: 100%; display: flex; align-items: center; justify-content: center; } 

/* --- 슬라이드 숫자 스타일 (1/4) --- */
.slick-slide-number { font-size: 1.6rem; color: var(--Gray-90); } 
/* --- 플레이 버튼 스타일 --- */
.playbtn { background:none; cursor: pointer; border: none; width: 18px; height: 18px; } 
.playbtn img { width: 100%; max-width: 18px; height: 100%; } 


/* -----------------------------------------------searchbox--- */
.searchbox { position: fixed; left: 0; top: -300vh; margin: 0 auto; width: 100%; height: 100%; overflow: hidden; background-color:var(--White); z-index: 999999 !important; transition: top 0.7s ease-in-out; } 
.searchbox-icon { display: flex; padding: 24px; justify-content: space-between; align-items: center; } 
.searchbox-input { margin: 0 24px; padding: 10px; background-color: var(--White); display: flex; height: 44px; border-bottom:1px solid var(--Crystal-Teal); align-items: center; } 
.searchbox-input img { width: 24px; height: 24px; } 
.searchbox-input input { background: none; border: none; margin-left: 10px; font-size: 16px; letter-spacing: calc(16px * -0.025); width: 100%; height: 100%; color: var(--Gray-80); } 
.searchbox-input input:focus { outline: none; color: var(--Black); } 
.searchbox ul { margin:24px; } 
.searchbox ul li { font-size: 16px; letter-spacing: calc(16px * -0.025); line-height: 200%; color: var(--Gray-90); } 
.b { font-weight: 600; } 
body.no-scroll { overflow: hidden; /* ✅ 검색창이 열릴 때 스크롤 제거 */ } 


/* -----------------------------------------------list box-- */

.listbox { position: fixed; left: 0; top: -300vh; margin: 0 auto; width: 100%; height: 100%; overflow: hidden; background-color:var(--White); z-index: 999999 !important; transition: top 0.7s ease-in-out; } 
.listbox-icon { display: flex; padding: 24px; justify-content: space-between; align-items: center; } 
.listbox-ul { padding: 0 24px; color: var(--Crystal-Teal); } 
.listbox-ul li a { display: flex; justify-content: space-between; align-items: center; font-size: 18px; font-weight: 500; line-height: 300%; letter-spacing: calc(18px * -0.025); } 
.listbox-ul li img { object-fit: cover; width: 20px; } 
.listbox-ul-sub { padding-left: 14px; color: var(--Gray-90); display: none; } 
.listbox-ul-sub li a { font-size: 16px; font-weight: 500; line-height: 250%; letter-spacing: calc(16px * -0.025); } 
.listbox-ul-sub li a:hover { font-weight: 600; text-decoration: none; } 
.listbox-ul li.open .listbox-ul-sub { display: block; } 
.list-arrow { transition: transform 0.3s ease; } 
.listbox-ul li.open .list-arrow { transform: rotate(90deg); } 
/* -----------------------------------------------gnb--- */

.gnb { width: 100%; padding:24px; display: flex; justify-content: space-between; align-items: center; position: absolute; top: 0; left: 0; z-index: 100; } 
.logo
 {
 font-family: "Roboto Slab", serif; font-size: 2.4rem; width: 100%; color: var(--White); } 
.gnb ul { display: flex; } 
.gnb ul li { margin-left:20px; } 
.gnb ul li img { width: 24px; height: 24px; } 
 
/* -----------------------------------------------gnb-scroll-- */

.gnb-scroll { height: 60px; width: 100%; padding:14px 24px 14px 24px; display: flex; justify-content: space-between; align-items: center; position: relative; position: fixed; top: 0; left: 0; z-index: 9999; background-color: var(--White); box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); display: none; } 
.logo-scroll
 {
 font-family: "Roboto Slab", serif; font-size: 2.4rem; width: 100%; color: var(--Crystal-Teal); } 
.gnb-scroll ul { display: flex; position: absolute; right: 28px; top: 18px; } 
.gnb-scroll ul li { margin-left:20px; } 
.gnb-scroll ul li img { width: 24px; height: 24px; } 

/* ----------------------------------------------pc ver.-gnb--- */
.pc-gnb { display: none; } 
/* .pc-gnb-sub { display: none; } */


/* -------------------------------------------------- */
section { margin: 0 24px; } 
.content { margin: 10rem 0; position: relative; } 
.content-name { font-family: "Roboto Slab", serif; color: var(--Crystal-Teal); font-size: 2.4rem; font-weight: 400; line-height: 140%; margin-bottom: 2rem; } 
.content-text { color: var(--Gray-90); font-size: 1.8rem; font-weight: 400; line-height: 140%; letter-spacing: calc(1.8rem * -0.025); margin-bottom: 3.5rem; } 
/*---------------------------------------------- card01 */
.card-slider-container { display: flex; position: relative; box-shadow: inset 0 -1px 0 0 var(--Gray-70); } 
.card-prev,.card-next { position: absolute; width: 50px; height: 50px; background:none; border: none; background-color: var(--Black); opacity: 60%; display: flex; justify-content: center; align-items: center; z-index: 300; top: 40%; transition: background 0.3s ease; cursor: pointer; } 
 .card-prev img ,.card-next img { width: 20px; height: 20px; } 
 .card-prev { left: 0; } 
 .card-next { right: 0; } 
 .card-prev:hover,.card-next:hover { opacity: 80%; } 

.card01-section { display: flex; gap: 22px !important; overflow-x: auto; /* 가로 스크롤 가능하게 설정 */
 white-space: nowrap; flex-wrap: nowrap; /* 넓이 강제 줄임 바꿈 방지 */
 padding-bottom: 35px; } 

 /* ✅ 스크롤바 스타일 (크롬, 사파리) */
.card01-section::-webkit-scrollbar { height: 2px; /* 스크롤바 높이 */ } 
 .card01-section::-webkit-scrollbar-thumb { background: var(--Crystal-Teal); cursor: pointer; } 
 .card01-section::-webkit-scrollbar-track { background: transparent; } 


.card01 { cursor: pointer; background-color: var(--White); width: 220px; height: 346px; position: relative; border-bottom: 1px solid var(--Gray-70); } 
.card01:hover { transform: scale(1.01); box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); } 
.wh-like-icon { position: absolute; display: flex; right: 0; padding: 20px; } 
.wh-like-icon img { width: 36px !important; height: 36px !important; } 

.card01 img { width: 220px; height: 220px; } 
.card-text { padding: 20px; color: var(--Gray-90); } 
.card-text p { line-height: 140%; } 
.card-name { color: var(--Black); font-size: 1.6rem; letter-spacing: calc(1.6rem * -0.025); line-height: 140%; } 
.card-color { color: var(--Gray-80); font-size: 1.6rem; margin-bottom: 20px; line-height: 140%; } 
.card-text >.card-per { color: var(--Sunset-Orange); font-size: 1.6rem; font-weight: 600; margin-bottom: 20px; position: absolute; } 
.card-text >.card-won { color: var(--Black); font-size: 1.6rem; font-weight: 600; margin-bottom: 20px; position: absolute; left: 65px; } 


/* ---------------------------------block img--- */
.block-section { width: 100%; height: 344px; display: flex; gap: 22px; } 

.block-left { cursor: pointer; width: 50%; height: 344px; } 
.block-right-container { width: 50%; height: 344px; display: flex; flex-direction: column; gap: 22px; } 
.block-right { cursor: pointer; height: calc(344px / 2); } 
.block-section img { width: 100%; height: 100%; object-fit: cover; /* 비율 유지하며 div를 꽉 채우기 */
 display: block; } 
/* ---------------------------------마우스오버 */
.block-left,.block-right { transition: filter 0.3s ease, transform 0.3s ease; position: relative; } 

.hover-icon { position: absolute; width: 150px; height: 150px; visibility: visible; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: opacity 0.3s ease; opacity: 0; display: flex; justify-content: center; align-items: center; z-index: 10; } 

.hover-icon img { width: 35px; height: 35px; } 

.block-left:hover,.block-right:hover { filter: brightness(60%); transform: scale(1.01); } 
.block-left:hover .hover-icon,
.block-right:hover .hover-icon { opacity: 1; } 

/* ------------------------------------ trending-slide*/
.trending-slide { cursor: pointer; width: 100%; height: 344px; position: relative; overflow: hidden; display: flex; justify-content: center; align-items: center; } 

.trending-slide img { width: 100%; height: 100%; object-fit: cover; display: block; object-position: center; } 

/* --- 화살표 감싼 컨테이너 --- */
.slider-controls02 { position: absolute; display: flex; align-items: center; justify-content: space-between; gap: 20px; top:38%; margin-bottom: 8rem; width: 100%; height: 15px; z-index: 500; } 

/* --- 화살표 버튼 스타일 --- */
.custom-prev-tr,
.custom-next-tr { position: absolute; top: 50%; transform: translateY(-50%); z-index: 10; transform: scale(2); opacity: 35%; background: none; border: none; cursor: pointer; transition: opacity 0.3s ease; } 
.custom-prev-tr { left: 20px; } 
.custom-next-tr { right: 20px; } 
.custom-prev-tr:hover,
.custom-next-tr:hover { opacity: 0.8; } 

.playbtn-tr { position: absolute; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer; transition: opacity 0.3s ease; } 
 .playbtn-tr { right: 15px; } 



/* 인디케이터와 멈춤 버튼을 같은 라인에 배치 */

 .dots-container { position: absolute; bottom: 7%; left: 50%; transform: translateX(-50%); display: flex; justify-content: center; align-items: center; gap: 10px; } 

/* 도트 스타일 */
.slick-dots { display: flex; gap: 10px; list-style: none; padding: 0; margin: 0; position: absolute; left:-30px; } 
 
 .slick-dots li { width: 10px; height: 10px; background: var(--Black); opacity: 0.7; border-radius: 50%; cursor: pointer; transition: background 0.3s; text-indent: -999999px; /* 숫자 숨기기 */ } 
 
 .slick-dots .slick-active { background:var(--White); } 
 
 /* 멈춤 버튼 스타일 */
 .playbtn-tr { background: none; border: none; cursor: pointer; padding: 0; display: flex; align-items: center; position: absolute; left:30px; } 
 
 .playbtn-tr img { width: 18px; height: 18px; } 
/*---------------------------------------------- card02 */
.card02-container { margin-top: 20px; display: flex; flex-direction: column; gap: 15px; } 
.card02 { cursor: pointer; width: 100%; height: 135px; background-color: var(--White); border-bottom: 1px solid var(--Gray-70); display: flex; padding: 20px; position: relative; } 
.card02:hover { transform: scale(1.01); box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); } 
.like-icon { width: 20px; height: 20px; position: absolute; display: flex; right: 20px; top:20px; } 
.card02-img { width: 85px; height: 95px; } 
.card02-text { color: var(--Gray-90); margin-left: 20px; width: auto; } 

.like-icon img { width: 20px; height: 20px; } 

.card02-text .card-per { color: var(--Sunset-Orange); font-size: 1.6rem; font-weight: 600; display:inline-block; margin-top: 15px; } 
.card02-text .card-won { color: var(--Black); font-size: 1.6rem; font-weight: 600; margin-left: 10px; display: inline-block; } 
/*----------------------------------------------gift */
.gift-container { width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 50px; } 
.gift-img { width: 100%; height: 344px; } 
.gift-img img { width: 100%; height: 100%; object-fit: cover; /* 비율 유지하며 div를 꽉 채우기 */
 display: block; } 
/* 이미지 위치 조정 */
.gift-img .ma { object-position: 70%; } 
.gift-img .cr { object-position: 15%; } 
.gift-img .so { object-position: 20%; } 

.gift-tx-container { width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; } 
.gift-name { color: var(--Gray-90); width: 24%; margin: 20px; display: flex; text-align: center; font-size: 1.8rem; font-weight: 500; letter-spacing: calc(1.8rem * -0.025); line-height: 140%; } 
.gift-bt { cursor: pointer; width: 133px; height: 41px; font-size: 1.6rem; letter-spacing: calc(1.6rem * -0.025); line-height: 140%; border: 1px solid var(--Crystal-Teal); background-color: var(--White); border-radius: 0; display: flex; justify-content: center; align-items: center; color: var(--Crystal-Teal); transition: background-color 0.4s ease, color 0.4s ease; } 
.gift-bt:hover { background-color: var(--Crystal-Teal); color: var(--White); } 

.gift-caption { display: none; } 
/*-------------------------------------------footer---*/
footer { width: 100%; background-color: var(--Crystal-Teal); color: var(--White); padding: 40px 24px 80px 24px; display: grid; grid-template-columns: repeat(3,1fr); gap: 20px; padding-bottom: 250px; } 
footer >p { display: inline-block; padding-bottom: 10px; border-bottom: 1px solid var(--White); } 
footer p { font-size: 14px; line-height: 140%; width: 100%; font-weight:500; display: inline-block; padding-bottom: 10px; border-bottom: 1px solid var(--White); } 

footer ul { line-height: 180%; margin-top: 10px; } 
footer ul li { font-size: 14px; line-height: 180%; } 
footer ul li a { font-size: 14px; line-height: 180%; } 
.ft05 h3 { font-size: 14px; line-height: 180%; } 

.ft04 { margin-top: 20px; } 
.ft05 { margin-top: 20px; grid-column: span 2; } 
.ftend { font-weight:400; margin-top: 10px; } 



/*TODO:-----------------------------------------태블릿-----*/

@media screen and (min-width: 768px) { section { margin: 0 48px; } 
 .content { margin: 15rem 0 !important; } 
 .gnb { padding:48px; } 

 .gnb-scroll ul { right: 48px; } 
 .gnb-scroll { padding:14px 48px 14px 48px; } 
 .slider-controls { margin-top: 40px; } 

 .trending-slide { margin-bottom: 2rem; } 

.gift-name { width: 100%; text-align: center; display: inline-block; } 
.gift-container { margin-bottom: 80px; } 

footer { padding: 40px 48px 80px 48px; } 
 }


/*TODO:-----------------------------------------피씨-----*/

@media screen and (min-width: 1024px) { section { margin: 0 100px; } 

 /* ----------------------------------pc-gnb-- */
.pc-gnb { display: flex; width: 100%; padding: 32px 100px; align-items: center; position: absolute; top: 0; left: 0; position: fixed; z-index: 99999; background-color:var(--White); height: 80px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); } 
.pc-logo p { font-family: "Roboto Slab", serif; font-size: 24px; color: var(--Crystal-Teal); } 
.pc-logo { display: flex; align-items: center; width: 80px; } 
.pc-gnb-text {  display: flex; align-items: center; width: 100%; margin-left: 4rem; letter-spacing: calc(20px * -0.025); color: var(--Gray-90); } 
.pc-gnb-text li {display: flex; align-items: center; padding-left: 30px; position: relative; line-height: 140%;} 
.pc-gnb-text li a { font-size: 16px; text-decoration: none; color: var(--Gray-90); font-weight: 500; position: relative; } 
.pc-gnb-icon { display: flex; justify-content: flex-end; margin-left: auto; } 
.pc-gnb-icon li { margin-left: 30px; } 
.pc-gnb-icon li img { width: 24px; height: 24px; } 

 /* 🔥 언더라인 효과 (가상 요소) */
 .pc-gnb-text li a::after { content: ""; position: absolute; left: 50%; /* 가운데에서 시작 */
 bottom: -2px; width: 0; height: 2px; background-color: var(--Crystal-Teal); transition: width 0.3s ease-out, left 0.3s ease-out; } 
 .pc-gnb-text li a:hover::after { width: 100%; left: 0; } 

 .pc-gnb-sub { display: none; /* 처음에는 숨김 */
 position: absolute; top: 100%; left: 0; background-color: var(--White); opacity: 0.9; width: 120px; /* 드롭다운 너비 */
 padding: 10px 0; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 */}
 
 .pc-gnb-sub li { padding: 10px 30px; display: block; } 
 
 .pc-gnb-sub li a { color: var(--Gray-90); font-size: 14px; font-weight: 300; transition: color 0.3s ease; line-height: 140%; letter-spacing: calc(14px * -0.025); } 
 
 
 /* ✅ 마우스 오버 시 드롭다운 표시 */
 .pc-gnb-text li:hover .pc-gnb-sub { display: block; animation: dropdownFade 0.3s ease-in-out; } 
 @keyframes dropdownFade { 
 from { opacity: 0; transform: translateY(-30px); } 
 to { opacity: 1; transform: translateY(0); } 
 }


 .gnb { display: none; } 
 .gnb-scroll { display: none !important; } 

 /* ----------------------------------main-banner-- */
 .banner-slider { padding-top:80px; height: 90vh; position: relative; display: flex; justify-content:center; } 
.banner-slider img { width: 100%; height: 100%; } 
.banner-slider::before { display: none; } 
.main03 { transform: translate(-24%,-22%); } 
.main04 { transform: translate(-15%,-18%); } 

/* --- 화살표 & 숫자 --- */
 .content { margin: 20rem 0 } 
 .content-name { font-size: 3rem; } 
 .content-text { margin-bottom: 6rem; width: 63%; } 
 .custom-prev { left: 70px; } 
.custom-next { right: 70px; } 

 /* 텍스트 컨테이너 */
 .banner-container { position: relative; width: 100%; height: 90vh; display: flex; } 
 .main-img { display: flex; width: 100%; height: 100%; } 

 .banner-right { position: absolute; top: 0; right: 0; z-index: 400; display: flex; flex-direction:column; width: 50%; height: 100%; background-color:#ECFEF9; justify-content: center; padding:0 80px; } 
.bannertx { line-height: 140%; color: var(--Gray-90) !important; } 
.banner-text01 { font-size: 1.8rem !important; letter-spacing: calc(1.8rem * -0.025); font-weight: 500 !important; } 
.banner-text02 { font-size: 3.8rem !important; margin-bottom: 4rem; letter-spacing: calc(3.8rem * -0.025); } 
.banner-text03 { font-size: 1.8rem !important; letter-spacing: calc(1.8rem * -0.025); width: 75%; } 
 .banner-container p { display: block; color: black; font-size: 30px; } 

 /* .main03,.main04 { transform: translate(-25%,-20%); } */
 .main03 img,.main04 img { position: absolute; } 
/*---------------------------------------------- card01 */
.card01-section { gap: 20px; } 
 .card01 { width: 294px; height: 464px; } 
 .card01 img { width: 294px; height: 294px; } 
 .card-color { margin-bottom: 58px; } 

/* ---------------------------------block img--- */
.block-section { height: 464px; gap: 22px; } 
.block-left { height: 464px; } 
.block-right-container { width: 50%; height: 464px; gap: 22px; } 
.block-right { height: calc(464px / 2); } 
/* ---------------------------------trending--- */
.trending-slide { max-width: 696px; height: 402px; display: flex; justify-content: center; align-items: center; } 
.trend { display: grid; grid-template-columns: repeat(2,1fr); gap: 20px; width: auto; } 
.custom-prev-tr { left: 30px; } 
.custom-next-tr { right: 30px; } 
.card02-container { margin-top: 0px; gap: 20px; } 
.card02-section { margin-bottom: 0; padding-bottom: 0; width: auto; min-width: 400px } 
.card02 { height: 192px; } 
.card02-img { width: 136px; height: 151px; } 
.card02-text .card-per { margin-top: 30px; } 
.card02-text .card-won { margin-left: 12px; } 
/* ----------------------------------gift-- */
.gift-container { flex-direction: column; justify-content: space-between; align-items: flex-start; margin-bottom: 20rem; display: flex; flex-direction: row; justify-content: left; } 
.gift-img { width: 52%; height: 344px; } 
.gift-tx-container { justify-content: space-between; align-items: flex-start; height: 344px; width: 48%; display: flex; flex-direction: column; padding: 40px; } 
.gift-bt { display: block; margin: 40px 0; margin-left: 0; } 
.gift-name { width: 100%; text-align: left; display: inline-block; font-size: 2.4rem; margin: 40px 0 10px 0; } 
 .gift-caption { display: block; font-size: 1.6rem; font-weight: 400; color: var(--Gray-90); line-height: 140%; letter-spacing: calc(1.8rem * -0.025); } 
 .gift-container.crystal-reverse { flex-direction: row-reverse; /* ✅ 이미지와 텍스트 순서 반대로 */ } 
 /* ----------------------------------footer-- */
 footer { padding: 40px 100px 80px 100px; grid-template-columns: repeat(4,1fr); gap: 40px; } 
.ft04 { margin-top:0px; } 
.ft05 { margin-top: 20px; grid-column: span 4; } 
 }